/*Colors*/
$color-white: #ffffff;
$color-black: #000000;
$color-blue: #66cccc;
$color-blue-light: #669999;
$color-blue-lighter: #665555;
$color-gray: #737373;
$color-red: #83122a;

/*Viewports*/
/* Viewports */
$screen-small: 320px;
$screen-medium: 720px;
$screen-wide: 1000px;
