@import './_vars.scss';
@import './_rating.scss';

.App {
  text-align: center;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 14px;
  line-height: 21px;
  max-width: $screen-wide;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.List {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em auto;
}
.Item {
  flex: 0 1 25%;
  padding: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-items: center;
  cursor: pointer;

  .picture {
    margin-bottom: 10px;
  }

  .features {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;

    .brand {
      font-weight: 700;
    }
    .name {
      font-weight: 700;
    }
    .type {
      color: $color-gray;
    }
    .price-size {
      color: $color-red;
      font-weight: 700;
    }
  }
}


.Filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid $color-gray;

  .Field {
    flex: 1 1 33%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    min-width: 200px;

    label {
      font-weight: bold;
    }
    input, select {
      outline: none;
      width: 90%;
      min-width: 180px;
      border-width: 1px;
      border-style: solid;
      border-color: $color-gray;
      color: $color-gray;
      background-color: $color-white;
      font-family: inherit;
      padding: 0.5em;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      box-sizing: border-box;
    }
    select {
      padding: 0.5em;
    }
    input[type="range"] {
      &:before {
        content: attr(min) " ";
        display: inline-flex;
        margin-top: 2em;
      }
      &:after {
        content: " " attr(max);
        display: inline-flex;
        margin-top: 2em;
      }
    }
  }
}

.btn {
  font-family: "Courier New", Courier, monospace;
  font-size: inherit;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  line-height: 2;
  padding: 12px 30px;
  margin-bottom: 5px;
  border: 0;
  vertical-align: middle;
  cursor: pointer;
  background: $color-black;
  color: $color-white;
  max-width: 200px;
  margin: 0 auto;
}
